.block-ui {
	pointer-events: none;
}

.order-field {
	cursor: pointer;
}

.selected-order {
	color: #0073aa;
}

.selected-page {
	background-color: #0073aa !important;
	color: #FFFFFF !important;
}

#users_per_page {
	padding-left: 5px;
}
